**Installing necessary drivers and importing the libraries**

In [ ]:
# Install Cassandra driver
!pip install cassandra-driver pandas

# Imports
import pandas as pd
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
from uuid import uuid4

Collecting cassandra-driver
  Downloading cassandra_driver-3.29.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Collecting geomet<0.3,>=0.1 (from cassandra-driver)
  Downloading geomet-0.2.1.post1-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.16.0)
Downloading cassandra_driver-3.29.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 34.4 MB/s eta 0:00:00
Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.29.2 geomet-0.2.1.post1

**Connection to Cassandra with DataStax through SCB and Token**

In [ ]:
import json
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

# This secure connect bundle is autogenerated when you download your SCB,
cloud_config = {
    'secure_connect_bundle': 'secure-connect-cassandra.zip'  # Update with your SCB filename
}

# Load credentials from token JSON
with open("Cassandra-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

# Establish connection
try:
    auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
    cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
    session = cluster.connect()
    print("Connected to Cassandra successfully.")
except Exception as e:
    print(f"An error occurred while connecting to Cassandra: {e}")

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for c8f6ada3-ffc6-4f83-b212-6e8e581e60d3-eu-west-1.db.astra.datastax.com:29042:190dafab-6970-3a67-a21c-1226360de7dc. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for c8f6ada3-ffc6-4f83-b212-6e8e581e60d3-eu-west-1.db.astra.datastax.com:29042:190dafab-6970-3a67-a21c-1226360de7dc. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 5 to 4 for c8f6ada3-ffc6-4f83-b212-6e8e581e60d3-eu-west-1.db.astra.datastax.com:29042:190dafab-6970-3a67-a21c-1226360de7dc. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

Connected to Cassandra successfully.

**Uploading the CSV file and viewing the data**

In [ ]:
import pandas as pd
from google.colab import files

print("Please upload your 'csv' file.")
uploaded = files.upload()  # This opens a file upload dialog

# Extract the uploaded file name (assuming a single file is uploaded)
file_name = list(uploaded.keys())[0]
print(f"File '{file_name}' uploaded successfully.")

# Load the CSV into a pandas DataFrame
try:
    df = pd.read_csv(file_name)
    print("Data loaded successfully:")
    print(df.head())  # Display the first few rows for confirmation
except Exception as e:
    print(f"An error occurred while loading the data: {e}")

Please upload your 'csv' file.

Saving sales_100.csv to sales_100.csv
File 'sales_100.csv' uploaded successfully.
Data loaded successfully:
                         Region           Country  Item Type Sales Channel  \
0            Sub-Saharan Africa      South Africa     Fruits       Offline
1  Middle East and North Africa           Morocco    Clothes        Online
2         Australia and Oceania  Papua New Guinea       Meat       Offline
3            Sub-Saharan Africa          Djibouti    Clothes       Offline
4                        Europe          Slovakia  Beverages       Offline

  Order Priority  Order Date   Order ID   Ship Date  UnitsSold  UnitPrice  \
0              M   7/27/2012  443368995   7/28/2012       1593       9.33
1              M   9/14/2013  667593514  10/19/2013       4611     109.28
2              M   5/15/2015  940995585    6/4/2015        360     421.89
3              H   5/17/2017  880811536    7/2/2017        562     109.28
4              L  10/26/2016  174590194   12/4/2016       3973      47.45

   UnitCost  TotalRevenue  TotalCost  TotalProfit
0      6.92      14862.69   11023.56      3839.13
1     35.84     503890.08  165258.24    338631.84
2    364.69     151880.40  131288.40     20592.00
3     35.84      61415.36   20142.08     41273.28
4     31.79     188518.85  126301.67     62217.18

**Creating Bronze table**

In [ ]:
# Use the bronze keyspace
session.execute("USE bronze;")

# Create the 'bronze_layer' table with the correct column names (as per your CSV)
create_bronze_table_query = """
CREATE TABLE IF NOT EXISTS bronze.bronze_layer (
    "Region" TEXT,
    "Country" TEXT,
    "Item Type" TEXT,
    "Sales Channel" TEXT,
    "Order Priority" TEXT,
    "Order Date" TEXT,
    "Order ID" INT,
    "Ship Date" TEXT,
    "UnitsSold" INT,
    "UnitPrice" FLOAT,
    "UnitCost" FLOAT,
    "TotalRevenue" FLOAT,
    "TotalCost" FLOAT,
    "TotalProfit" FLOAT,
    PRIMARY KEY ("Region", "Country", "Item Type", "Order Date", "Order ID")
);
"""
session.execute(create_bronze_table_query)

**Inserting data into the Bronze Table**

In [ ]:
import pandas as pd

# Load the CSV into a DataFrame
df = pd.read_csv('/content/sales_100.csv')  # Update the path with the correct file location

# Insert data into the bronze_layer table
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO bronze.bronze_layer ("Region", "Country", "Item Type", "Sales Channel", "Order Priority", "Order Date",
    "Order ID", "Ship Date", "UnitsSold", "UnitPrice", "UnitCost", "TotalRevenue", "TotalCost", "TotalProfit")
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    session.execute(insert_query, tuple(row))

print("Data inserted successfully into the bronze_layer table.")

Data inserted successfully into the bronze_layer table.

In [ ]:
# Verify data in the bronze_layer table
rows = session.execute("SELECT * FROM bronze.bronze_layer;")
for row in rows:
    print(row)

Row(Order_ID=571997869, Country='Vanuatu', Item_Type='Fruits', Order_Date='11/3/2013', Order_Priority='C', Region='Australia and Oceania', Sales_Channel='Online', Ship_Date='11/11/2013', TotalCost=39686.19921875, TotalProfit=13821.349609375, TotalRevenue=53507.55078125, UnitCost=6.920000076293945, UnitPrice=9.329999923706055, UnitsSold=5735)
Row(Order_ID=349235904, Country='Mauritius ', Item_Type='Clothes', Order_Date='11/17/2012', Order_Priority='M', Region='Sub-Saharan Africa', Sales_Channel='Offline', Ship_Date='12/2/2012', TotalCost=197836.796875, TotalProfit=405388.8125, TotalRevenue=603225.625, UnitCost=35.84000015258789, UnitPrice=109.27999877929688, UnitsSold=5520)
Row(Order_ID=440306556, Country='India', Item_Type='Snacks', Order_Date='10/10/2012', Order_Priority='L', Region='Asia', Sales_Channel='Online', Ship_Date='11/20/2012', TotalCost=521206.5625, TotalProfit=294943.875, TotalRevenue=816150.4375, UnitCost=97.44000244140625, UnitPrice=152.5800018310547, UnitsSold=5349)
Row(Order_ID=667593514, Country='Morocco', Item_Type='Clothes', Order_Date='9/14/2013', Order_Priority='M', Region='Middle East and North Africa', Sales_Channel='Online', Ship_Date='10/19/2013', TotalCost=165258.234375, TotalProfit=338631.84375, TotalRevenue=503890.09375, UnitCost=35.84000015258789, UnitPrice=109.27999877929688, UnitsSold=4611)
Row(Order_ID=520480573, Country='Indonesia', Item_Type='Household', Order_Date='9/28/2011', Order_Priority='C', Region='Asia', Sales_Channel='Online', Ship_Date='9/28/2011', TotalCost=313082.40625, TotalProfit=103249.7890625, TotalRevenue=416332.21875, UnitCost=502.5400085449219, UnitPrice=668.27001953125, UnitsSold=623)
Row(Order_ID=488121116, Country='The Bahamas', Item_Type='Fruits', Order_Date='6/18/2010', Order_Priority='L', Region='Central America and the Caribbean', Sales_Channel='Offline', Ship_Date='6/30/2010', TotalCost=32800.80078125, TotalProfit=11423.400390625, TotalRevenue=44224.19921875, UnitCost=6.920000076293945, UnitPrice=9.329999923706055, UnitsSold=4740)
Row(Order_ID=835696351, Country='Estonia', Item_Type='Household', Order_Date='9/1/2011', Order_Priority='H', Region='Europe', Sales_Channel='Offline', Ship_Date='10/21/2011', TotalCost=5013339.0, TotalProfit=1653322.5, TotalRevenue=6666661.5, UnitCost=502.5400085449219, UnitPrice=668.27001953125, UnitsSold=9976)
Row(Order_ID=146634709, Country='Liberia', Item_Type='Baby Food', Order_Date='6/6/2015', Order_Priority='H', Region='Sub-Saharan Africa', Sales_Channel='Offline', Ship_Date='6/12/2015', TotalCost=211072.078125, TotalProfit=126918.640625, TotalRevenue=337990.71875, UnitCost=159.4199981689453, UnitPrice=255.27999877929688, UnitsSold=1324)
Row(Order_ID=315402734, Country='Belize', Item_Type='Personal Care', Order_Date='6/14/2015', Order_Priority='H', Region='Central America and the Caribbean', Sales_Channel='Online', Ship_Date='8/2/2015', TotalCost=200215.109375, TotalProfit=88536.9765625, TotalRevenue=288752.09375, UnitCost=56.66999816894531, UnitPrice=81.7300033569336, UnitsSold=3533)
Row(Order_ID=198927056, Country='China', Item_Type='Office Supplies', Order_Date='2/10/2016', Order_Priority='M', Region='Asia', Sales_Channel='Online', Ship_Date='3/29/2016', TotalCost=3040043.25, TotalProfit=731113.75, TotalRevenue=3771157.0, UnitCost=524.9600219726562, UnitPrice=651.2100219726562, UnitsSold=5791)
Row(Order_ID=274930989, Country='Dominica', Item_Type='Household', Order_Date='11/19/2011', Order_Priority='C', Region='Central America and the Caribbean', Sales_Channel='Offline', Ship_Date='12/13/2011', TotalCost=3539891.75, TotalProfit=1167402.125, TotalRevenue=4707294.0, UnitCost=502.5400085449219, UnitPrice=668.27001953125, UnitsSold=7044)
Row(Order_ID=902511680, Country='Montenegro', Item_Type='Clothes', Order_Date='9/4/2016', Order_Priority='M', Region='Europe', Sales_Channel='Offline', Ship_Date='9/8/2016', TotalCost=75873.28125, TotalProfit=155472.484375, TotalRevenue=231345.765625, UnitCost=35.84000015258789, UnitPrice=109.27999877929688, UnitsSold=2117)
Row(Order_ID=358570849, Country='Oman', Item_Type='Cosmetics', Order_Date='11/29/2010', Order_Priority='H', Region='Middle East and North Africa', Sales_Channel='Online', Ship_Date='12/28/2010', TotalCost=2090050.25, TotalProfit=1380006.25, TotalRevenue=3470056.5, UnitCost=263.3299865722656, UnitPrice=437.20001220703125, UnitsSold=7937)
Row(Order_ID=176461303, Country='Singapore', Item_Type='Snacks', Order_Date='1/28/2013', Order_Priority='C', Region='Asia', Sales_Channel='Online', Ship_Date='2/7/2013', TotalCost=747949.4375, TotalProfit=423254.625, TotalRevenue=1171204.125, UnitCost=97.44000244140625, UnitPrice=152.5800018310547, UnitsSold=7676)
Row(Order_ID=179137074, Country='Nepal', Item_Type='Meat', Order_Date='2/21/2014', Order_Priority='H', Region='Asia', Sales_Channel='Online', Ship_Date='3/14/2014', TotalCost=3463096.25, TotalProfit=543171.1875, TotalRevenue=4006267.5, UnitCost=364.69000244140625, UnitPrice=421.8900146484375, UnitsSold=9496)
Row(Order_ID=294530856, Country='Italy', Item_Type='Cereal', Order_Date='11/15/2011', Order_Priority='M', Region='Europe', Sales_Channel='Online', Ship_Date='12/28/2011', TotalCost=829138.8125, TotalProfit=627217.1875, TotalRevenue=1456356.0, UnitCost=117.11000061035156, UnitPrice=205.6999969482422, UnitsSold=7080)
Row(Order_ID=190777862, Country='United States of America', Item_Type='Personal Care', Order_Date='1/21/2016', Order_Priority='H', Region='North America', Sales_Channel='Online', Ship_Date='2/19/2016', TotalCost=241640.875, TotalProfit=106855.84375, TotalRevenue=348496.71875, UnitCost=56.66999816894531, UnitPrice=81.7300033569336, UnitsSold=4264)
Row(Order_ID=830410039, Country='Switzerland', Item_Type='Office Supplies', Order_Date='7/29/2014', Order_Priority='C', Region='Europe', Sales_Channel='Offline', Ship_Date='8/27/2014', TotalCost=2960249.5, TotalProfit=711923.75, TotalRevenue=3672173.25, UnitCost=524.9600219726562, UnitPrice=651.2100219726562, UnitsSold=5639)
Row(Order_ID=104191863, Country='Albania', Item_Type='Personal Care', Order_Date='2/6/2016', Order_Priority='M', Region='Europe', Sales_Channel='Offline', Ship_Date='2/11/2016', TotalCost=87441.8125, TotalProfit=38667.578125, TotalRevenue=126109.390625, UnitCost=56.66999816894531, UnitPrice=81.7300033569336, UnitsSold=1543)
Row(Order_ID=940980136, Country='New Zealand', Item_Type='Beverages', Order_Date='10/11/2012', Order_Priority='M', Region='Australia and Oceania', Sales_Channel='Online', Ship_Date='11/4/2012', TotalCost=184000.515625, TotalProfit=90640.078125, TotalRevenue=274640.59375, UnitCost=31.790000915527344, UnitPrice=47.45000076293945, UnitsSold=5788)
Row(Order_ID=434008300, Country='Thailand', Item_Type='Fruits', Order_Date='9/30/2012', Order_Priority='C', Region='Asia', Sales_Channel='Offline', Ship_Date='11/14/2012', TotalCost=10760.599609375, TotalProfit=3747.550048828125, TotalRevenue=14508.150390625, UnitCost=6.920000076293945, UnitPrice=9.329999923706055, UnitsSold=1555)
Row(Order_ID=573998582, Country='Nicaragua', Item_Type='Household', Order_Date='10/28/2015', Order_Priority='C', Region='Central America and the Caribbean', Sales_Channel='Online', Ship_Date='12/7/2015', TotalCost=3915289.25, TotalProfit=1291202.375, TotalRevenue=5206491.5, UnitCost=502.5400085449219, UnitPrice=668.27001953125, UnitsSold=7791)
Row(Order_ID=842238795, Country='Uganda', Item_Type='Cosmetics', Order_Date='2/28/2015', Order_Priority='M', Region='Sub-Saharan Africa', Sales_Channel='Online', Ship_Date='3/15/2015', TotalCost=1588143.25, TotalProfit=1048610.0, TotalRevenue=2636753.25, UnitCost=263.3299865722656, UnitPrice=437.20001220703125, UnitsSold=6031)
Row(Order_ID=757619178, Country='Turkmenistan', Item_Type='Meat', Order_Date='4/30/2017', Order_Priority='M', Region='Asia', Sales_Channel='Online', Ship_Date='5/14/2017', TotalCost=1898576.125, TotalProfit=297783.1875, TotalRevenue=2196359.25, UnitCost=364.69000244140625, UnitPrice=421.8900146484375, UnitsSold=5206)
Row(Order_ID=286891067, Country='Antigua and Barbuda ', Item_Type='Office Supplies', Order_Date='10/2/2011', Order_Priority='C', Region='Central America and the Caribbean', Sales_Channel='Offline', Ship_Date='10/4/2011', TotalCost=3305673.0, TotalProfit=794996.25, TotalRevenue=4100669.25, UnitCost=524.9600219726562, UnitPrice=651.2100219726562, UnitsSold=6297)
Row(Order_ID=529276502, Country='Burundi', Item_Type='Beverages', Order_Date='3/9/2011', Order_Priority='H', Region='Sub-Saharan Africa', Sales_Channel='Online', Ship_Date='4/9/2011', TotalCost=112314.0703125, TotalProfit=55326.78125, TotalRevenue=167640.84375, UnitCost=31.790000915527344, UnitPrice=47.45000076293945, UnitsSold=3533)
Row(Order_ID=539471471, Country='Uganda', Item_Type='Personal Care', Order_Date='6/19/2014', Order_Priority='M', Region='Sub-Saharan Africa', Sales_Channel='Online', Ship_Date='7/21/2014', TotalCost=25558.169921875, TotalProfit=11302.0595703125, TotalRevenue=36860.23046875, UnitCost=56.66999816894531, UnitPrice=81.7300033569336, UnitsSold=451)
Row(Order_ID=726137769, Country='Czech Republic', Item_Type='Cosmetics', Order_Date='3/22/2014', Order_Priority='H', Region='Europe', Sales_Channel='Online', Ship_Date='4/26/2014', TotalCost=2411312.75, TotalProfit=1592127.625, TotalRevenue=4003440.5, UnitCost=263.3299865722656, UnitPrice=437.20001220703125, UnitsSold=9157)
Row(Order_ID=882908809, Country='Egypt', Item_Type='Clothes', Order_Date='8/9/2016', Order_Priority='C', Region='Middle East and North Africa', Sales_Channel='Online', Ship_Date='8/24/2016', TotalCost=42721.28125, TotalProfit=87540.4765625, TotalRevenue=130261.7578125, UnitCost=35.84000015258789, UnitPrice=109.27999877929688, UnitsSold=1192)
Row(Order_ID=467399013, Country='Monaco', Item_Type='Beverages', Order_Date='5/29/2016', Order_Priority='M', Region='Europe', Sales_Channel='Offline', Ship_Date='6/14/2016', TotalCost=82940.109375, TotalProfit=40856.94140625, TotalRevenue=123797.046875, UnitCost=31.790000915527344, UnitPrice=47.45000076293945, UnitsSold=2609)
Row(Order_ID=156530129, Country='Tanzania', Item_Type='Fruits', Order_Date='10/20/2014', Order_Priority='H', Region='Sub-Saharan Africa', Sales_Channel='Offline', Ship_Date='11/29/2014', TotalCost=66425.078125, TotalProfit=23133.58984375, TotalRevenue=89558.671875, UnitCost=6.920000076293945, UnitPrice=9.329999923706055, UnitsSold=9599)
Row(Order_ID=678896129, Country='Indonesia', Item_Type='Personal Care', Order_Date='10/22/2012', Order_Priority='L', Region='Asia', Sales_Channel='Offline', Ship_Date='10/31/2012', TotalCost=527371.0, TotalProfit=233208.359375, TotalRevenue=760579.375, UnitCost=56.66999816894531, UnitPrice=81.7300033569336, UnitsSold=9306)
Row(Order_ID=485070693, Country='Haiti', Item_Type='Office Supplies', Order_Date='12/31/2010', Order_Priority='C', Region='Central America and the Caribbean', Sales_Channel='Online', Ship_Date='1/31/2011', TotalCost=1077217.875, TotalProfit=259065.0, TotalRevenue=1336282.875, UnitCost=524.9600219726562, UnitPrice=651.2100219726562, UnitsSold=2052)
Row(Order_ID=955894076, Country='Malaysia', Item_Type='Beverages', Order_Date='11/13/2014', Order_Priority='M', Region='Asia', Sales_Channel='Online', Ship_Date='12/28/2014', TotalCost=291005.65625, TotalProfit=143351.640625, TotalRevenue=434357.3125, UnitCost=31.790000915527344, UnitPrice=47.45000076293945, UnitsSold=9154)
Row(Order_ID=659878194, Country='Tanzania', Item_Type='Beverages', Order_Date='11/30/2016', Order_Priority='L', Region='Sub-Saharan Africa', Sales_Channel='Online', Ship_Date='1/16/2017', TotalCost=46922.0390625, TotalProfit=23114.16015625, TotalRevenue=70036.203125, UnitCost=31.790000915527344, UnitPrice=47.45000076293945, UnitsSold=1476)
Row(Order_ID=704205024, Country='Lebanon', Item_Type='Meat', Order_Date='3/8/2017', Order_Priority='L', Region='Middle East and North Africa', Sales_Channel='Online', Ship_Date='4/18/2017', TotalCost=3198331.25, TotalProfit=501644.0, TotalRevenue=3699975.25, UnitCost=364.69000244140625, UnitPrice=421.8900146484375, UnitsSold=8770)
Row(Order_ID=116205585, Country='Turkmenistan', Item_Type='Vegetables', Order_Date='4/13/2015', Order_Priority='M', Region='Asia', Sales_Channel='Online', Ship_Date='6/2/2015', TotalCost=606503.125, TotalProfit=421077.09375, TotalRevenue=1027580.1875, UnitCost=90.93000030517578, UnitPrice=154.05999755859375, UnitsSold=6670)
Row(Order_ID=937431466, Country='Samoa ', Item_Type='Household', Order_Date='12/5/2016', Order_Priority='L', Region='Australia and Oceania', Sales_Channel='Online', Ship_Date='12/8/2016', TotalCost=2842868.75, TotalProfit=937534.625, TotalRevenue=3780403.5, UnitCost=502.5400085449219, UnitPrice=668.27001953125, UnitsSold=5657)
Row(Order_ID=747796285, Country='Japan', Item_Type='Household', Order_Date='7/16/2014', Order_Priority='M', Region='Asia', Sales_Channel='Offline', Ship_Date='7/24/2014', TotalCost=4217818.0, TotalProfit=1390971.875, TotalRevenue=5608790.0, UnitCost=502.5400085449219, UnitPrice=668.27001953125, UnitsSold=8393)
Row(Order_ID=731120240, Country='Saint Lucia', Item_Type='Fruits', Order_Date='12/12/2015', Order_Priority='L', Region='Central America and the Caribbean', Sales_Channel='Offline', Ship_Date='1/12/2016', TotalCost=24780.51953125, TotalProfit=8630.2099609375, TotalRevenue=33410.73046875, UnitCost=6.920000076293945, UnitPrice=9.329999923706055, UnitsSold=3581)
Row(Order_ID=297876536, Country='South Korea', Item_Type='Meat', Order_Date='3/16/2016', Order_Priority='L', Region='Asia', Sales_Channel='Offline', Ship_Date='4/20/2016', TotalCost=2604251.25, TotalProfit=408465.1875, TotalRevenue=3012716.5, UnitCost=364.69000244140625, UnitPrice=421.8900146484375, UnitsSold=7141)
Row(Order_ID=563681733, Country='Togo', Item_Type='Cosmetics', Order_Date='9/8/2015', Order_Priority='M', Region='Sub-Saharan Africa', Sales_Channel='Online', Ship_Date='9/9/2015', TotalCost=1265564.0, TotalProfit=835619.25, TotalRevenue=2101183.25, UnitCost=263.3299865722656, UnitPrice=437.20001220703125, UnitsSold=4806)
Row(Order_ID=265081918, Country='Sweden', Item_Type='Beverages', Order_Date='9/13/2012', Order_Priority='H', Region='Europe', Sales_Channel='Online', Ship_Date='10/12/2012', TotalCost=78998.1484375, TotalProfit=38915.1015625, TotalRevenue=117913.25, UnitCost=31.790000915527344, UnitPrice=47.45000076293945, UnitsSold=2485)
Row(Order_ID=839094388, Country='Tonga', Item_Type='Baby Food', Order_Date='5/11/2016', Order_Priority='L', Region='Australia and Oceania', Sales_Channel='Online', Ship_Date='5/31/2016', TotalCost=881752.0, TotalProfit=530201.6875, TotalRevenue=1411953.625, UnitCost=159.4199981689453, UnitPrice=255.27999877929688, UnitsSold=5531)
Row(Order_ID=739008080, Country='Tanzania', Item_Type='Cosmetics', Order_Date='5/23/2016', Order_Priority='L', Region='Sub-Saharan Africa', Sales_Channel='Offline', Ship_Date='5/24/2016', TotalCost=2045547.5, TotalProfit=1350622.125, TotalRevenue=3396169.5, UnitCost=263.3299865722656, UnitPrice=437.20001220703125, UnitsSold=7768)
Row(Order_ID=710296428, Country='Kazakhstan', Item_Type='Snacks', Order_Date='9/8/2013', Order_Priority='L', Region='Asia', Sales_Channel='Online', Ship_Date='10/25/2013', TotalCost=131738.875, TotalProfit=74549.28125, TotalRevenue=206288.15625, UnitCost=97.44000244140625, UnitPrice=152.5800018310547, UnitsSold=1352)
Row(Order_ID=880811536, Country='Djibouti', Item_Type='Clothes', Order_Date='5/17/2017', Order_Priority='H', Region='Sub-Saharan Africa', Sales_Channel='Offline', Ship_Date='7/2/2017', TotalCost=20142.080078125, TotalProfit=41273.28125, TotalRevenue=61415.359375, UnitCost=35.84000015258789, UnitPrice=109.27999877929688, UnitsSold=562)
Row(Order_ID=845056617, Country='Netherlands', Item_Type='Fruits', Order_Date='11/19/2016', Order_Priority='L', Region='Europe', Sales_Channel='Online', Ship_Date='11/30/2016', TotalCost=68418.0390625, TotalProfit=23827.669921875, TotalRevenue=92245.7109375, UnitCost=6.920000076293945, UnitPrice=9.329999923706055, UnitsSold=9887)
Row(Order_ID=678230941, Country='Iceland', Item_Type='Baby Food', Order_Date='10/2/2010', Order_Priority='M', Region='Europe', Sales_Channel='Offline', Ship_Date='11/3/2010', TotalCost=392492.03125, TotalProfit=236007.3125, TotalRevenue=628499.375, UnitCost=159.4199981689453, UnitPrice=255.27999877929688, UnitsSold=2462)
Row(Order_ID=953361213, Country='Zimbabwe', Item_Type='Office Supplies', Order_Date='3/28/2011', Order_Priority='C', Region='Sub-Saharan Africa', Sales_Channel='Offline', Ship_Date='4/8/2011', TotalCost=5051690.0, TotalProfit=1214903.75, TotalRevenue=6266594.0, UnitCost=524.9600219726562, UnitPrice=651.2100219726562, UnitsSold=9623)
Row(Order_ID=443368995, Country='South Africa', Item_Type='Fruits', Order_Date='7/27/2012', Order_Priority='M', Region='Sub-Saharan Africa', Sales_Channel='Offline', Ship_Date='7/28/2012', TotalCost=11023.5595703125, TotalProfit=3839.1298828125, TotalRevenue=14862.6904296875, UnitCost=6.920000076293945, UnitPrice=9.329999923706055, UnitsSold=1593)
Row(Order_ID=425793445, Country='Seychelles ', Item_Type='Beverages', Order_Date='1/18/2013', Order_Priority='M', Region='Sub-Saharan Africa', Sales_Channel='Online', Ship_Date='2/16/2013', TotalCost=18978.630859375, TotalProfit=9349.01953125, TotalRevenue=28327.650390625, UnitCost=31.790000915527344, UnitPrice=47.45000076293945, UnitsSold=597)
Row(Order_ID=498071897, Country='Taiwan', Item_Type='Cereal', Order_Date='4/11/2010', Order_Priority='H', Region='Asia', Sales_Channel='Online', Ship_Date='5/26/2010', TotalCost=1100482.625, TotalProfit=832480.25, TotalRevenue=1932962.875, UnitCost=117.11000061035156, UnitPrice=205.6999969482422, UnitsSold=9397)
Row(Order_ID=368977391, Country='Canada', Item_Type='Cosmetics', Order_Date='5/9/2011', Order_Priority='H', Region='North America', Sales_Channel='Online', Ship_Date='6/2/2011', TotalCost=1965495.125, TotalProfit=1297765.625, TotalRevenue=3263260.75, UnitCost=263.3299865722656, UnitPrice=437.20001220703125, UnitsSold=7464)
Row(Order_ID=494570004, Country='Madagascar', Item_Type='Clothes', Order_Date='10/17/2016', Order_Priority='L', Region='Sub-Saharan Africa', Sales_Channel='Online', Ship_Date='10/26/2016', TotalCost=111462.3984375, TotalProfit=228398.40625, TotalRevenue=339860.8125, UnitCost=35.84000015258789, UnitPrice=109.27999877929688, UnitsSold=3110)
Row(Order_ID=761723172, Country='Algeria', Item_Type='Cosmetics', Order_Date='2/18/2011', Order_Priority='M', Region='Middle East and North Africa', Sales_Channel='Online', Ship_Date='2/24/2011', TotalCost=2546137.75, TotalProfit=1681149.0, TotalRevenue=4227287.0, UnitCost=263.3299865722656, UnitPrice=437.20001220703125, UnitsSold=9669)
Row(Order_ID=757257401, Country='Finland', Item_Type='Household', Order_Date='1/15/2016', Order_Priority='H', Region='Europe', Sales_Channel='Offline', Ship_Date='1/31/2016', TotalCost=4094696.0, TotalProfit=1350368.0, TotalRevenue=5445064.0, UnitCost=502.5400085449219, UnitPrice=668.27001953125, UnitsSold=8148)
Row(Order_ID=363086831, Country='Mali', Item_Type='Household', Order_Date='8/19/2010', Order_Priority='M', Region='Sub-Saharan Africa', Sales_Channel='Offline', Ship_Date='9/7/2010', TotalCost=2169465.25, TotalProfit=715456.4375, TotalRevenue=2884921.5, UnitCost=502.5400085449219, UnitPrice=668.27001953125, UnitsSold=4317)
Row(Order_ID=343752610, Country='Nicaragua', Item_Type='Baby Food', Order_Date='11/11/2016', Order_Priority='L', Region='Central America and the Caribbean', Sales_Channel='Online', Ship_Date='11/16/2016', TotalCost=460883.21875, TotalProfit=277131.25, TotalRevenue=738014.5, UnitCost=159.4199981689453, UnitPrice=255.27999877929688, UnitsSold=2891)

**Cleaning the data for Silver Table**

In [ ]:
import pandas as pd

# Load the CSV into a DataFrame
df = pd.read_csv('/content/sales_100.csv')  # Update the path with the correct file location

# Rename columns: Replace spaces with underscores
df.columns = df.columns.str.replace(' ', '_')

# Ensure proper date formatting (convert from MM/DD/YYYY to YYYY-MM-DD)
df['Order_Date'] = pd.to_datetime(df['Order_Date'], format='%m/%d/%Y', errors='coerce').dt.strftime('%Y-%m-%d')
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'], format='%m/%d/%Y', errors='coerce').dt.strftime('%Y-%m-%d')

# Handle any rows with invalid date formats by filling them with a default value ('0000-00-00')
df['Order_Date'] = df['Order_Date'].fillna('0000-00-00')
df['Ship_Date'] = df['Ship_Date'].fillna('0000-00-00')

# Handle missing numeric values by filling them with zeros
df['UnitsSold'] = df['UnitsSold'].fillna(0)
df['UnitPrice'] = df['UnitPrice'].fillna(0)
df['UnitCost'] = df['UnitCost'].fillna(0)
df['TotalRevenue'] = df['TotalRevenue'].fillna(0)
df['TotalCost'] = df['TotalCost'].fillna(0)
df['TotalProfit'] = df['TotalProfit'].fillna(0)

# Remove duplicates
df = df.drop_duplicates()

# Optional: Print the cleaned dataframe for verification
print(df.head())

                         Region           Country  Item_Type Sales_Channel  \
0            Sub-Saharan Africa      South Africa     Fruits       Offline
1  Middle East and North Africa           Morocco    Clothes        Online
2         Australia and Oceania  Papua New Guinea       Meat       Offline
3            Sub-Saharan Africa          Djibouti    Clothes       Offline
4                        Europe          Slovakia  Beverages       Offline

  Order_Priority  Order_Date   Order_ID   Ship_Date  UnitsSold  UnitPrice  \
0              M  2012-07-27  443368995  2012-07-28       1593       9.33
1              M  2013-09-14  667593514  2013-10-19       4611     109.28
2              M  2015-05-15  940995585  2015-06-04        360     421.89
3              H  2017-05-17  880811536  2017-07-02        562     109.28
4              L  2016-10-26  174590194  2016-12-04       3973      47.45

   UnitCost  TotalRevenue  TotalCost  TotalProfit
0      6.92      14862.69   11023.56      3839.13
1     35.84     503890.08  165258.24    338631.84
2    364.69     151880.40  131288.40     20592.00
3     35.84      61415.36   20142.08     41273.28
4     31.79     188518.85  126301.67     62217.18

**Creating the Silver Table**

In [ ]:
# Use the silver keyspace
session.execute("USE silver;")

# Create the 'silver_layer' table if not exists
create_table_query = """
CREATE TABLE IF NOT EXISTS silver.silver_layer (
    region TEXT,
    country TEXT,
    item_type TEXT,
    sales_channel TEXT,
    order_priority TEXT,
    order_date DATE,
    order_id INT,
    ship_date DATE,
    units_sold INT,
    unit_price FLOAT,
    unit_cost FLOAT,
    total_revenue DECIMAL,
    total_cost DECIMAL,
    total_profit DECIMAL,
    PRIMARY KEY (region, country, item_type, order_id)
);
"""
session.execute(create_table_query)
print("Silver table created successfully.")

Silver table created successfully.

**Inserting cleaned data into the Silver Table**

In [ ]:
# Insert cleaned data into the silver_layer table
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO silver.silver_layer (region, country, item_type, sales_channel, order_priority, order_date,
    order_id, ship_date, units_sold, unit_price, unit_cost, total_revenue, total_cost, total_profit)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    session.execute(insert_query, tuple(row))

print("Data inserted successfully into the silver_layer table.")

Data inserted successfully into the silver_layer table.

In [ ]:
# Query the silver_layer table to view the data
select_query = "SELECT * FROM silver_layer;"
rows = session.execute(select_query)

# Display the result
for row in rows:
    print(row)

Row(region='Australia and Oceania', country='East Timor', item_type='Cereal', order_id=156295812, order_date=Date(16776), order_priority='M', sales_channel='Offline', ship_date=Date(16799), total_cost=Decimal('30331.49'), total_profit=Decimal('22944.81'), total_revenue=Decimal('53276.3'), unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=259)
Row(region='Australia and Oceania', country='New Zealand', item_type='Beverages', order_id=940980136, order_date=Date(15624), order_priority='M', sales_channel='Online', ship_date=Date(15648), total_cost=Decimal('184000.52'), total_profit=Decimal('90640.08'), total_revenue=Decimal('274640.6'), unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=5788)
Row(region='Australia and Oceania', country='Papua New Guinea', item_type='Clothes', order_id=647164094, order_date=Date(15145), order_priority='L', sales_channel='Offline', ship_date=Date(15169), total_cost=Decimal('325857.28'), total_profit=Decimal('667716.48'), total_revenue=Decimal('993573.76'), unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=9092)
Row(region='Australia and Oceania', country='Papua New Guinea', item_type='Meat', order_id=940995585, order_date=Date(16570), order_priority='M', sales_channel='Offline', ship_date=Date(16590), total_cost=Decimal('131288.4'), total_profit=Decimal('20592.0'), total_revenue=Decimal('151880.4'), unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=360)
Row(region='Australia and Oceania', country='Samoa ', item_type='Household', order_id=937431466, order_date=Date(17140), order_priority='L', sales_channel='Online', ship_date=Date(17143), total_cost=Decimal('2842868.78'), total_profit=Decimal('937534.61'), total_revenue=Decimal('3780403.39'), unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=5657)
Row(region='Australia and Oceania', country='Solomon Islands', item_type='Household', order_id=101328551, order_date=Date(14960), order_priority='M', sales_channel='Online', ship_date=Date(14971), total_cost=Decimal('2123231.5'), total_profit=Decimal('700209.25'), total_revenue=Decimal('2823440.75'), unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=4225)
Row(region='Australia and Oceania', country='Tonga', item_type='Baby Food', order_id=839094388, order_date=Date(16932), order_priority='L', sales_channel='Online', ship_date=Date(16952), total_cost=Decimal('881752.02'), total_profit=Decimal('530201.66'), total_revenue=Decimal('1411953.68'), unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=5531)
Row(region='Australia and Oceania', country='Vanuatu', item_type='Cereal', order_id=572335612, order_date=Date(16241), order_priority='C', sales_channel='Offline', ship_date=Date(16287), total_cost=Decimal('665301.91'), total_profit=Decimal('503279.79'), total_revenue=Decimal('1168581.7'), unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=5681)
Row(region='Australia and Oceania', country='Vanuatu', item_type='Fruits', order_id=571997869, order_date=Date(16012), order_priority='C', sales_channel='Online', ship_date=Date(16020), total_cost=Decimal('39686.2'), total_profit=Decimal('13821.35'), total_revenue=Decimal('53507.55'), unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=5735)
Row(region='Europe', country='Albania', item_type='Baby Food', order_id=752525556, order_date=Date(15540), order_priority='H', sales_channel='Offline', ship_date=Date(15565), total_cost=Decimal('1257823.8'), total_profit=Decimal('756335.4'), total_revenue=Decimal('2014159.2'), unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=7890)
Row(region='Europe', country='Albania', item_type='Personal Care', order_id=104191863, order_date=Date(16837), order_priority='M', sales_channel='Offline', ship_date=Date(16842), total_cost=Decimal('87441.81'), total_profit=Decimal('38667.58'), total_revenue=Decimal('126109.39'), unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=1543)
Row(region='Europe', country='Belgium', item_type='Personal Care', order_id=222504317, order_date=Date(15279), order_priority='H', sales_channel='Online', ship_date=Date(15298), total_cost=Decimal('160206.09'), total_profit=Decimal('70844.62'), total_revenue=Decimal('231050.71'), unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=2827)
Row(region='Europe', country='Czech Republic', item_type='Cosmetics', order_id=726137769, order_date=Date(16151), order_priority='H', sales_channel='Online', ship_date=Date(16186), total_cost=Decimal('2411312.81'), total_profit=Decimal('1592127.59'), total_revenue=Decimal('4003440.4'), unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=9157)
Row(region='Europe', country='Estonia', item_type='Household', order_id=835696351, order_date=Date(15218), order_priority='H', sales_channel='Offline', ship_date=Date(15268), total_cost=Decimal('5013339.04'), total_profit=Decimal('1653322.48'), total_revenue=Decimal('6666661.52'), unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=9976)
Row(region='Europe', country='Finland', item_type='Household', order_id=757257401, order_date=Date(16815), order_priority='H', sales_channel='Offline', ship_date=Date(16831), total_cost=Decimal('4094695.92'), total_profit=Decimal('1350368.04'), total_revenue=Decimal('5445063.96'), unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=8148)
Row(region='Europe', country='Finland', item_type='Vegetables', order_id=642134416, order_date=Date(15622), order_priority='C', sales_channel='Offline', ship_date=Date(15671), total_cost=Decimal('63469.14'), total_profit=Decimal('44064.74'), total_revenue=Decimal('107533.88'), unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=698)
Row(region='Europe', country='France', item_type='Cosmetics', order_id=324669444, order_date=Date(16776), order_priority='M', sales_channel='Online', ship_date=Date(16818), total_cost=Decimal('1516254.14'), total_profit=Decimal('1001143.46'), total_revenue=Decimal('2517397.6'), unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=5758)
Row(region='Europe', country='Greece', item_type='Cereal', order_id=887124383, order_date=Date(16669), order_priority='H', sales_channel='Online', ship_date=Date(16716), total_cost=Decimal('1015812.14'), total_profit=Decimal('768429.66'), total_revenue=Decimal('1784241.8'), unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=8674)
Row(region='Europe', country='Iceland', item_type='Baby Food', order_id=678230941, order_date=Date(14884), order_priority='M', sales_channel='Offline', ship_date=Date(14916), total_cost=Decimal('392492.04'), total_profit=Decimal('236007.32'), total_revenue=Decimal('628499.36'), unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=2462)
Row(region='Europe', country='Italy', item_type='Cereal', order_id=294530856, order_date=Date(15293), order_priority='M', sales_channel='Online', ship_date=Date(15336), total_cost=Decimal('829138.8'), total_profit=Decimal('627217.2'), total_revenue=Decimal('1456356.0'), unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7080)
Row(region='Europe', country='Italy', item_type='Cereal', order_id=887409770, order_date=Date(16769), order_priority='C', sales_channel='Online', ship_date=Date(16774), total_cost=Decimal('366085.86'), total_profit=Decimal('276932.34'), total_revenue=Decimal('643018.2'), unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=3126)
Row(region='Europe', country='Italy', item_type='Office Supplies', order_id=797385394, order_date=Date(15062), order_priority='H', sales_channel='Online', ship_date=Date(15075), total_cost=Decimal('1529208.48'), total_profit=Decimal('367766.25'), total_revenue=Decimal('1896974.73'), unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2913)
Row(region='Europe', country='Moldova ', item_type='Fruits', order_id=180908620, order_date=Date(15732), order_priority='C', sales_channel='Online', ship_date=Date(15767), total_cost=Decimal('25853.12'), total_profit=Decimal('9003.76'), total_revenue=Decimal('34856.88'), unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3736)
Row(region='Europe', country='Monaco', item_type='Beverages', order_id=467399013, order_date=Date(16950), order_priority='M', sales_channel='Offline', ship_date=Date(16966), total_cost=Decimal('82940.11'), total_profit=Decimal('40856.94'), total_revenue=Decimal('123797.05'), unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=2609)
Row(region='Europe', country='Montenegro', item_type='Clothes', order_id=902511680, order_date=Date(17048), order_priority='M', sales_channel='Offline', ship_date=Date(17052), total_cost=Decimal('75873.28'), total_profit=Decimal('155472.48'), total_revenue=Decimal('231345.76'), unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=2117)
Row(region='Europe', country='Netherlands', item_type='Fruits', order_id=845056617, order_date=Date(17124), order_priority='L', sales_channel='Online', ship_date=Date(17135), total_cost=Decimal('68418.04'), total_profit=Decimal('23827.67'), total_revenue=Decimal('92245.71'), unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=9887)
Row(region='Europe', country='Romania', item_type='Beverages', order_id=756839835, order_date=Date(15389), order_priority='M', sales_channel='Online', ship_date=Date(15412), total_cost=Decimal('145629.99'), total_profit=Decimal('71738.46'), total_revenue=Decimal('217368.45'), unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4581)
Row(region='Europe', country='Romania', item_type='Cereal', order_id=633134210, order_date=Date(16541), order_priority='M', sales_channel='Online', ship_date=Date(16543), total_cost=Decimal('859236.07'), total_profit=Decimal('649984.83'), total_revenue=Decimal('1509220.9'), unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7337)
Row(region='Europe', country='Serbia', item_type='Clothes', order_id=925136649, order_date=Date(16988), order_priority='L', sales_channel='Offline', ship_date=Date(16995), total_cost=Decimal('263352.32'), total_profit=Decimal('539637.12'), total_revenue=Decimal('802989.44'), unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=7348)
Row(region='Europe', country='Slovakia', item_type='Beverages', order_id=174590194, order_date=Date(17100), order_priority='L', sales_channel='Offline', ship_date=Date(17139), total_cost=Decimal('126301.67'), total_profit=Decimal('62217.18'), total_revenue=Decimal('188518.85'), unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3973)
Row(region='Europe', country='Sweden', item_type='Beverages', order_id=265081918, order_date=Date(15596), order_priority='H', sales_channel='Online', ship_date=Date(15625), total_cost=Decimal('78998.15'), total_profit=Decimal('38915.1'), total_revenue=Decimal('117913.25'), unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=2485)
Row(region='Europe', country='Switzerland', item_type='Office Supplies', order_id=830410039, order_date=Date(16280), order_priority='C', sales_channel='Offline', ship_date=Date(16309), total_cost=Decimal('2960249.44'), total_profit=Decimal('711923.75'), total_revenue=Decimal('3672173.19'), unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=5639)
Row(region='Europe', country='United Kingdom', item_type='Cosmetics', order_id=135178029, order_date=Date(16556), order_priority='L', sales_channel='Online', ship_date=Date(16571), total_cost=Decimal('273336.54'), total_profit=Decimal('180477.06'), total_revenue=Decimal('453813.6'), unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=1038)
Row(region='Middle East and North Africa', country='Algeria', item_type='Cosmetics', order_id=761723172, order_date=Date(15023), order_priority='M', sales_channel='Online', ship_date=Date(15029), total_cost=Decimal('2546137.77'), total_profit=Decimal('1681149.03'), total_revenue=Decimal('4227286.8'), unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=9669)
Row(region='Middle East and North Africa', country='Egypt', item_type='Clothes', order_id=882908809, order_date=Date(17022), order_priority='C', sales_channel='Online', ship_date=Date(17037), total_cost=Decimal('42721.28'), total_profit=Decimal('87540.48'), total_revenue=Decimal('130261.76'), unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=1192)
Row(region='Middle East and North Africa', country='Israel', item_type='Beverages', order_id=371502530, order_date=Date(15956), order_priority='H', sales_channel='Offline', ship_date=Date(15991), total_cost=Decimal('149699.11'), total_profit=Decimal('73742.94'), total_revenue=Decimal('223442.05'), unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4709)
Row(region='Middle East and North Africa', country='Kuwait', item_type='Household', order_id=459386289, order_date=Date(15138), order_priority='C', sales_channel='Offline', ship_date=Date(15176), total_cost=Decimal('736723.64'), total_profit=Decimal('242960.18'), total_revenue=Decimal('979683.82'), unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=1466)
Row(region='Middle East and North Africa', country='Lebanon', item_type='Meat', order_id=704205024, order_date=Date(17233), order_priority='L', sales_channel='Online', ship_date=Date(17274), total_cost=Decimal('3198331.3'), total_profit=Decimal('501644.0'), total_revenue=Decimal('3699975.3'), unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=8770)
Row(region='Middle East and North Africa', country='Morocco', item_type='Clothes', order_id=667593514, order_date=Date(15962), order_priority='M', sales_channel='Online', ship_date=Date(15997), total_cost=Decimal('165258.24'), total_profit=Decimal('338631.84'), total_revenue=Decimal('503890.08'), unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=4611)
Row(region='Middle East and North Africa', country='Oman', item_type='Cosmetics', order_id=358570849, order_date=Date(14942), order_priority='H', sales_channel='Online', ship_date=Date(14971), total_cost=Decimal('2090050.21'), total_profit=Decimal('1380006.19'), total_revenue=Decimal('3470056.4'), unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7937)
Row(region='Middle East and North Africa', country='Pakistan', item_type='Meat', order_id=500371730, order_date=Date(16067), order_priority='M', sales_channel='Online', ship_date=Date(16116), total_cost=Decimal('3635594.61'), total_profit=Decimal('570226.8'), total_revenue=Decimal('4205821.41'), unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9969)
Row(region='Middle East and North Africa', country='Tunisia ', item_type='Cosmetics', order_id=479969346, order_date=Date(15522), order_priority='H', sales_channel='Offline', ship_date=Date(15541), total_cost=Decimal('645158.5'), total_profit=Decimal('425981.5'), total_revenue=Decimal('1071140.0'), unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=2450)
Row(region='Middle East and North Africa', country='United Arab Emirates', item_type='Office Supplies', order_id=425418365, order_date=Date(15514), order_priority='M', sales_channel='Online', ship_date=Date(15527), total_cost=Decimal('5041190.88'), total_profit=Decimal('1212378.75'), total_revenue=Decimal('6253569.63'), unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=9603)
Row(region='Central America and the Caribbean', country='Antigua and Barbuda ', item_type='Office Supplies', order_id=286891067, order_date=Date(15249), order_priority='C', sales_channel='Offline', ship_date=Date(15251), total_cost=Decimal('3305673.12'), total_profit=Decimal('794996.25'), total_revenue=Decimal('4100669.37'), unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=6297)
Row(region='Central America and the Caribbean', country='Belize', item_type='Personal Care', order_id=315402734, order_date=Date(16600), order_priority='H', sales_channel='Online', ship_date=Date(16649), total_cost=Decimal('200215.11'), total_profit=Decimal('88536.98'), total_revenue=Decimal('288752.09'), unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=3533)
Row(region='Central America and the Caribbean', country='Dominica', item_type='Beverages', order_id=438011872, order_date=Date(15503), order_priority='L', sales_channel='Online', ship_date=Date(15539), total_cost=Decimal('200308.79'), total_profit=Decimal('98673.66'), total_revenue=Decimal('298982.45'), unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=6301)
Row(region='Central America and the Caribbean', country='Dominica', item_type='Household', order_id=274930989, order_date=Date(15297), order_priority='C', sales_channel='Offline', ship_date=Date(15321), total_cost=Decimal('3539891.76'), total_profit=Decimal('1167402.12'), total_revenue=Decimal('4707293.88'), unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7044)
Row(region='Central America and the Caribbean', country='Dominican Republic', item_type='Baby Food', order_id=824714744, order_date=Date(15211), order_priority='H', sales_channel='Offline', ship_date=Date(15241), total_cost=Decimal('43681.08'), total_profit=Decimal('26265.64'), total_revenue=Decimal('69946.72'), unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=274)
Row(region='Central America and the Caribbean', country='Haiti', item_type='Office Supplies', order_id=485070693, order_date=Date(14974), order_priority='C', sales_channel='Online', ship_date=Date(15005), total_cost=Decimal('1077217.92'), total_profit=Decimal('259065.0'), total_revenue=Decimal('1336282.92'), unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2052)
Row(region='Central America and the Caribbean', country='Nicaragua', item_type='Baby Food', order_id=343752610, order_date=Date(17116), order_priority='L', sales_channel='Online', ship_date=Date(17121), total_cost=Decimal('460883.22'), total_profit=Decimal('277131.26'), total_revenue=Decimal('738014.48'), unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=2891)
Row(region='Central America and the Caribbean', country='Nicaragua', item_type='Household', order_id=573998582, order_date=Date(16736), order_priority='C', sales_channel='Online', ship_date=Date(16776), total_cost=Decimal('3915289.14'), total_profit=Decimal('1291202.43'), total_revenue=Decimal('5206491.57'), unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7791)
Row(region='Central America and the Caribbean', country='Saint Lucia', item_type='Fruits', order_id=731120240, order_date=Date(16781), order_priority='L', sales_channel='Offline', ship_date=Date(16812), total_cost=Decimal('24780.52'), total_profit=Decimal('8630.21'), total_revenue=Decimal('33410.73'), unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3581)
Row(region='Central America and the Caribbean', country='The Bahamas', item_type='Fruits', order_id=488121116, order_date=Date(14778), order_priority='L', sales_channel='Offline', ship_date=Date(14790), total_cost=Decimal('32800.8'), total_profit=Decimal('11423.4'), total_revenue=Decimal('44224.2'), unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=4740)
Row(region='Central America and the Caribbean', country='The Bahamas', item_type='Personal Care', order_id=246248090, order_date=Date(14993), order_priority='C', sales_channel='Online', ship_date=Date(15026), total_cost=Decimal('517793.79'), total_profit=Decimal('228973.22'), total_revenue=Decimal('746767.01'), unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9137)

In [ ]:
import pandas as pd

# Use the silver keyspace
session.execute("USE silver;")

# Query the silver_layer table to view the data
select_query = "SELECT * FROM silver_layer;"  # Fetch all rows from the silver_layer table
rows = session.execute(select_query)

# Convert the rows to a DataFrame
df_silver = pd.DataFrame(rows)

# Display the full table
df_silver

,region,country,item_type,order_id,order_date,order_priority,sales_channel,ship_date,total_cost,total_profit,total_revenue,unit_cost,unit_price,units_sold
0,Australia and Oceania,East Timor,Cereal,156295812,2015-12-07,M,Offline,2015-12-30,30331.49,22944.81,53276.3,117.110001,205.699997,259
1,Australia and Oceania,New Zealand,Beverages,940980136,2012-10-11,M,Online,2012-11-04,184000.52,90640.08,274640.6,31.790001,47.450001,5788
2,Australia and Oceania,Papua New Guinea,Clothes,647164094,2011-06-20,L,Offline,2011-07-14,325857.28,667716.48,993573.76,35.840000,109.279999,9092
3,Australia and Oceania,Papua New Guinea,Meat,940995585,2015-05-15,M,Offline,2015-06-04,131288.4,20592.0,151880.4,364.690002,421.890015,360
4,Australia and Oceania,Samoa,Household,937431466,2016-12-05,L,Online,2016-12-08,2842868.78,937534.61,3780403.39,502.540009,668.270020,5657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Sub-Saharan Africa,Uganda,Cosmetics,842238795,2015-02-28,M,Online,2015-03-15,1588143.23,1048609.97,2636753.2,263.329987,437.200012,6031
95,Sub-Saharan Africa,Uganda,Personal Care,539471471,2014-06-19,M,Online,2014-07-21,25558.17,11302.06,36860.23,56.669998,81.730003,451
96,Sub-Saharan Africa,Zimbabwe,Office Supplies,953361213,2011-03-28,C,Offline,2011-04-08,5051690.08,1214903.75,6266593.83,524.960022,651.210022,9623
97,North America,Canada,Cosmetics,368977391,2011-05-09,H,Online,2011-06-02,1965495.12,1297765.68,3263260.8,263.329987,437.200012,7464
98,North America,United States of America,Personal Care,190777862,2016-01-21,H,Online,2016-02-19,241640.88,106855.84,348496.72,56.669998,81.730003,4264

**Creating the Golden Tables**

**Golden Table 1: Aggregated Sales Data by Region**

In [48]:
# Golden Table:1
# Create the gold table
session.execute("""
CREATE TABLE IF NOT EXISTS gold.gold1_sales_by_region (
    region TEXT PRIMARY KEY,
    total_units_sold INT,
    total_revenue DECIMAL,
    total_profit DECIMAL
);
""")
print("Golden Table 1 created successfully.")

# Fetch distinct regions from the silver table
regions_query = "SELECT DISTINCT region FROM silver.silver_layer;"
regions = session.execute(regions_query)

# Process each region for aggregation
for region in regions:
    region_name = region.region
    query = f"""
    SELECT SUM(units_sold) AS total_units_sold,
           SUM(total_revenue) AS total_revenue,
           SUM(total_profit) AS total_profit
    FROM silver.silver_layer WHERE region = %s;
    """
    aggregated_data = session.execute(query, (region_name,)).one()

    # Insert aggregated data into the gold table
    session.execute("""
    INSERT INTO gold.gold1_sales_by_region (region, total_units_sold, total_revenue, total_profit)
    VALUES (%s, %s, %s, %s);
    """, (region_name, aggregated_data.total_units_sold, aggregated_data.total_revenue, aggregated_data.total_profit))

print("Data inserted into gold1_sales_by_region successfully.")

Golden Table 1 created successfully.
Data inserted into gold1_sales_by_region successfully.

**Golden Table 2: Total Units Sold by Item Type**

In [49]:
# Golden Table:2
from collections import defaultdict

# Create the golden table for total units sold by item type
session.execute("""
CREATE TABLE IF NOT EXISTS gold.gold2_total_units_by_item_type (
    item_type text PRIMARY KEY,
    total_units_sold int
);
""")
print("Golden Table 2 created successfully.")


# Query all rows from the silver table
query = "SELECT item_type, units_sold FROM silver.silver_layer;"
rows = session.execute(query)

# Aggregate total units sold by item_type using Python
item_type_units = defaultdict(int)
for row in rows:
    # Sum up the units_sold for each item_type
    item_type_units[row.item_type] += row.units_sold

# Insert the aggregated data into the golden table
for item_type, total_units_sold in item_type_units.items():
    session.execute("""
    INSERT INTO gold.gold2_total_units_by_item_type (item_type, total_units_sold)
    VALUES (%s, %s);
    """, (item_type, total_units_sold))

print("Data inserted into gold2_total_units_by_item_type successfully.")

Golden Table 2 created successfully.
Data inserted into gold2_total_units_by_item_type successfully.

**Golden Table 3: Total Revenue by Sales Channel**

In [50]:
# Golden Table:3
from collections import defaultdict
from decimal import Decimal

# Create the golden table (if not exists)
session.execute("""
CREATE TABLE IF NOT EXISTS gold.gold3_revenue_by_channel (
    sales_channel text PRIMARY KEY,
    total_revenue decimal
);
""")
print("Golden Table 3 created successfully.")

# Fetch raw data from the silver table
query = "SELECT sales_channel, total_revenue FROM silver.silver_layer;"
rows = session.execute(query)

# Aggregate total revenue by sales_channel
revenue_by_channel = defaultdict(Decimal)
for row in rows:
    # Ensure total_revenue is a Decimal (it may be in a different format)
    revenue_by_channel[row.sales_channel] += Decimal(row.total_revenue)

# Insert aggregated data into the gold table
for sales_channel, total_revenue in revenue_by_channel.items():
    session.execute("""
    INSERT INTO gold.gold3_revenue_by_channel (sales_channel, total_revenue)
    VALUES (%s, %s);
    """, (sales_channel, total_revenue))

print("Data inserted into gold3_revenue_by_channel successfully.")

Golden Table 3 created successfully.
Data inserted into gold3_revenue_by_channel successfully.

**Display Golden Table 1: gold1_sales_by_region**

In [51]:
# Display contents of gold1_sales_by_region table
print("Displaying contents of gold1_sales_by_region table:")

query = "SELECT * FROM gold.gold1_sales_by_region;"
rows = session.execute(query)

for row in rows:
    print(f"Region: {row.region}, Total Units Sold: {row.total_units_sold}, Total Revenue: {row.total_revenue}, Total Profit: {row.total_profit}")

Displaying contents of gold1_sales_by_region table:
Region: Australia and Oceania, Total Units Sold: 42328, Total Revenue: 10711258.13, Total Profit: 3486940.03
Region: Europe, Total Units Sold: 121002, Total Revenue: 34964749.83, Total Profit: 11267281.03
Region: Middle East and North Africa, Total Units Sold: 60376, Total Revenue: 24765127.25, Total Profit: 6514261.71
Region: Central America and the Caribbean, Total Units Sold: 53641, Total Revenue: 17570835.42, Total Profit: 4252300.17
Region: Asia, Total Units Sold: 113129, Total Revenue: 28840812.19, Total Profit: 6749896.24
Region: Sub-Saharan Africa, Total Units Sold: 92606, Total Revenue: 24225437.42, Total Profit: 7651891.85
Region: North America, Total Units Sold: 11728, Total Revenue: 3611757.52, Total Profit: 1404621.52

**Display Golden Table 2: gold2_total_units_by_item_type**

In [53]:
# Display contents of gold2_total_units_by_item_type table
print("Displaying contents of gold2_total_units_by_item_type table:")

query = "SELECT * FROM gold.gold2_total_units_by_item_type;"
rows = session.execute(query)

for row in rows:
    print(f"Item Type: {row.item_type}, Total Units Sold: {row.total_units_sold}")

Displaying contents of gold2_total_units_by_item_type table:
Item Type: Household, Total Units Sold: 57640
Item Type: Office Supplies, Total Units Sold: 42814
Item Type: Vegetables, Total Units Sold: 7368
Item Type: Snacks, Total Units Sold: 14377
Item Type: Personal Care, Total Units Sold: 39045
Item Type: Meat, Total Units Sold: 50437
Item Type: Fruits, Total Units Sold: 65920
Item Type: Beverages, Total Units Sold: 45206
Item Type: Cereal, Total Units Sold: 45776
Item Type: Cosmetics, Total Units Sold: 65707
Item Type: Baby Food, Total Units Sold: 20372
Item Type: Clothes, Total Units Sold: 40148

**Display Golden Table 3: gold3_revenue_by_channel**

In [54]:
# Display contents of gold_revenue_by_channel table
print("Displaying contents of gold3_revenue_by_channel table:")

query = "SELECT * FROM gold.gold3_revenue_by_channel;"
rows = session.execute(query)

for row in rows:
    print(f"Sales Channel: {row.sales_channel}, Total Revenue: {row.total_revenue}")

Displaying contents of gold3_revenue_by_channel table:
Sales Channel: Online, Total Revenue: 84628184.37
Sales Channel: Offline, Total Revenue: 60061793.39